{% extends "lab_4/layout/base.html" %}

{% block content %}
<img src="https://scontent-atl3-1.cdninstagram.com/t51.2885-15/e15/10963876_1400168620287965_2550115_n.jpg" alt="profile-image" style="border-radius: 100%; width: 200px; height: 200px; display: block; margin: 0 auto"/>
<h1 style="text-align:center;">Imran Amrulloh</h1>
<hr/>
<section name="bio">
    <div style="float: left; width: 50%">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>
    </div>
</section>
<section name="about_me">
    <div style="float: right; width: 50%">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </div>
</section>
<hr style="clear: both"/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
